body{
    background-color: #cfab5f;
    font-family: sans-serif;
}

/**************** MenuDerecha ****************/

.rightNav{
    padding: 19px;
    display: flex;
    justify-content: end;
    align-content: center;
    margin: auto;
}

.derecha {
    position: relative;
    text-decoration: none;
    color: #3c3c3c;
    font-size: 18px;
    letter-spacing: .5px;
    padding: 0 20px;
    cursor: pointer;
}

.derecha:before,
.derecha:after{
    content: "";
    position: absolute;
    height: 3px;
    width: 0;
    background: #3c3c3c;
    transition: .5s;
}
.derecha:after{
    left: 0;
    bottom: -10px;
}
.derecha:before{
    right: 0;
    top: -10px;
}
.derecha:hover:after,
.derecha:hover:before{
    width: 100%;
}

/**************** MenuIzquierda ****************/
/*
.menu i {
    margin-left: 10px;
    margin-top: 10px;
}
#leftMenu{
    height: 100vh;
    position: fixed;
    width: 0;
    z-index: 100;
    top: 0;
    left: 0;
    background: #996d0f;
    overflow-x: hidden;
    transition: .5s;
}
#leftNav{
    margin-top: 70px;
}
#leftNav a{
    margin-bottom: 15px;
}
#leftMenu a{
    padding: 8px 8px 8px 10px;
    text-decoration: none;
    font-size: 15px;
    color: white;
    display: block;
    transition: .4s;
}
*/
/**************** Navhover ****************/
/*
#leftMenu a:hover{
    background: #9C7E3F;
    color: white;

}

.items{
    width: 400px;
    height: 50px;
    gap: 10px;
    display: flex;
    margin-top: 20px;
}

.navbar-brand img{
    width: 72px;
    margin-left: 5px;
    margin-right: 5px;
    float: right;
}

/**************** sliders  ****************/

.container-slider{
    margin: 50px 0;
    position: relative;
    overflow: hidden;
}

.slider {
    display: flex;
    width: 400%;
    height: 450px;
    margin-left: -100%;
    position: relative;
}
.slider:before{
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(0,0,0,0.5);
    height: 100%;
}

.slider__section {
    width: 100%;
    position: relative;
}
.slider__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slider__btn {
    position: absolute;
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 0.7);
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    font-weight: bold;
    font-family: monospace;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    z-index: 999;
}
.slider__btn:hover {
    background: #fff;
}
.slider__btn--left{
    left: 10px;
}
.slider__btn--right {
    right: 10px;
}
.slider__content{
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    transform: translate(-50%, -50%);
    width: 60%;
    text-align: center;
    z-index: 999;
}
.slider__title{
    font-size: 2.2em;
    margin: 0;
}
.slider__txt{
    margin: 5px 0;
}
.btn-shop{
    display: block;
    border: 2px solid white;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    width: 150px;
    margin: 20px auto;
    transition: all 0.5s;
}
.btn-shop:hover{
    background: white;
    color: black;
}

/**************** productos  ****************/

.cajas{
    width: calc(32.93% - 40px);
    margin: auto;
    margin-top: 25px;
    height: auto;
    background: #DEDEDEFF;
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.1);
    float: left;
    border-radius: 1rem;
}
.con-cajas{
    display: flex;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
}

.titulo{
    padding-left: 10px;
}

.precio{
    padding-left: 10px;
}

.buttonp {
    width: 8em;
    height: 3em;
    border-radius: 30em;
    font-size: 15px;
    font-family: inherit;
    border: none;
    position: relative;
    overflow: hidden;
    z-index: 1;
    box-shadow: 6px 6px 12px #c5c5c5,
    -6px -6px 12px #ffffff;
    float: right;
    margin-right: 15px;
    margin-top: 15px;
}

.buttonp::before {
    content: '';
    width: 0;
    height: 3em;
    border-radius: 30em;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, #cfab5f 0%, #cc982b 100%);
    transition: .5s ease;
    display: block;
    z-index: -1;
}

.buttonp:hover::before {
    width: 9em;
}

.buttonp:hover {
    animation: rotate624 0.7s ease-in-out both;
}

.buttonp:hover span {
    animation: storm1261 0.7s ease-in-out both;
    animation-delay: 0.06s;
}

@keyframes rotate624 {
    0% {
        transform: rotate(0deg) translate3d(0, 0, 0);
    }

    25% {
        transform: rotate(3deg) translate3d(0, 0, 0);
    }

    50% {
        transform: rotate(-3deg) translate3d(0, 0, 0);
    }

    75% {
        transform: rotate(1deg) translate3d(0, 0, 0);
    }

    100% {
        transform: rotate(0deg) translate3d(0, 0, 0);
    }
}

@keyframes storm1261 {
    0% {
        transform: translate3d(0, 0, 0) translateZ(0);
    }

    25% {
        transform: translate3d(4px, 0, 0) translateZ(0);
    }

    50% {
        transform: translate3d(-3px, 0, 0) translateZ(0);
    }

    75% {
        transform: translate3d(2px, 0, 0) translateZ(0);
    }

    100% {
        transform: translate3d(0, 0, 0) translateZ(0);
    }
}