<div class="container-slider">

  <div class="slider" id="slider">

    <div class="slider__section">
      <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.transfermarkt.es%2Froberto-baggio%2Fprofil%2Fspieler%2F4153&psig=AOvVaw3TV-3BtzAZsKK3mRa9vRtF&ust=1675277716505000&source=images&cd=vfe&ved=0CBAQjRxqFwoTCOjQofu98vwCFQAAAAAdAAAAABAJ"
           alt="" class="slider__img">
      <div class="slider__content">
        <h2 class="slider__title">Baggio</h2>
        <p class="slider__txt">Camisetas Oficiales de Italia de los años x.</p>
        <a href="" class="btn-shop">COMPRAR AHORA</a>
      </div>
    </div>

    <div class="slider__section">
      <img src="/img/pele.jpeg" alt="" class="slider__img">
      <div class="slider__content">
        <h2 class="slider__title">Pelé</h2>
        <p class="slider__txt">Camisetas Oficiales de Brasil de los años 60.</p>
        <a href="" class="btn-shop">COMPRAR AHORA</a>
      </div>
    </div>

    <div class="slider__section">
      <img src="/img/beckham.jpg" alt="" class="slider__img">
      <div class="slider__content">
        <h2 class="slider__title">David Beckham</h2>
        <p class="slider__txt">Camisetas Oficiales de Inglaterra de los años 2000.</p>
        <a href="" class="btn-shop">COMPRAR AHORA</a>
      </div>
    </div>

    <div class="slider__section">
      <img src="/img/butrageño.jpg" alt="" class="slider__img">
      <div class="slider__content">
        <h2 class="slider__title">Emilio Butragueño</h2>
        <p class="slider__txt">Camisetas Oficiales de España de los años 80.</p>
        <a href="" class="btn-shop">COMPRAR AHORA</a>
      </div>
    </div>

    <div class="slider__section">
      <img src="/img/zidane.jpg" alt="" class="slider__img">
      <div class="slider__content">
        <h2 class="slider__title">Zinedine Zidane</h2>
        <p class="slider__txt">Camisetas Oficiales de Francia de los años 90.</p>
        <a href="" class="btn-shop">COMPRAR AHORA</a>
      </div>
    </div>

  </div>
  <div class="slider__btn slider__btn--right" id="btn-right">&#62;</div>
  <div class="slider__btn slider__btn--left" id="btn-left">&#60;</div>
</div>

<script src="/js/slider.js"></script>